<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Chambre List</h2>
        
       
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="bi bi-plus-circle"></i> Add Chambre
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <app-chambre-add></app-chambre-add>
  </div>
        
    </div>
    
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Number of Chambres</th>
                    <th>Type of Chambre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let chambre of chambres ;let i=index">
                    <td>{{ chambre.idChambre }}</td>
                    <td>{{ chambre.numeroChambre }}</td>
                    <td>{{ chambre.typeChambre }}</td>
                    <td>
                        <button
                        type="button"
                        data-bs-toggle="modal"
                        [attr.data-bs-target]="'#exampleModalupdate' + i"
                        class="btn btn-warning btn-sm me-3"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Edit"
                      >
                      <i class="bi bi-pencil-square"></i> 
                    </button>

                                                    <!-- Modal -->
                                                    <div
                                                    class="modal fade"
                                                    [id]="'exampleModalupdate' + i"
                                                    role="dialog"
                                                    tabindex="-1"
                                                    aria-labelledby="exampleModalLabel"
                                                    aria-hidden="true"
                                                  >
                                                  <app-chambre-edit [chambre]="chambre"></app-chambre-edit>
                                            
                                                  </div>
                                                

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
